fastapi
uvicorn
celery[redis]
redis
langchain
langchain-community
langchain-ollama
python-multipart
python-magic
pgvector
psycopg2-binary
sqlalchemy
langchain-postgres
pypdf
unstructured
Markdown
libmagic